/* //popup */

#wholeContainer{
   opacity: 0.7; 
   background-color: rgba(0,0,0);
   pointer-events: none;
   width:100%;
}
.popUpAddress{
    border: 1px solid gray;
    width: 45%;
    height: 600px;
    margin-top: 120px;
    overflow: auto;
    padding-left: 20px;
    padding-right: 20px;
    position:fixed;
    background-color: white;
    margin-left:420px;
    z-index: 300;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius:12px;
}
.popupheader{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.sticky{
    position: sticky;
    top: 0;
    width: 100%;
}
.popheader1{
    font-size: 20px;
    font-family: sans-serif;
    padding-left: 20px; 
}
.fa-times{
    font-size: 15px;
    padding-top: 23px;
    padding-left: 300px;
}
:root{
    --color-secondary:#828282;
    --text-color-contrast:#ffffff;
}
.confirm-btn{
    background: var(--color-secondary);
    color: var(--text-color-contrast);
    text-align: center;
    padding: 10px;
    width: 240px;
    cursor: pointer;
    margin: auto;
    border-radius: 3px;
}
.form-field{
    margin: 12px auto;
    
}
.form-field input {
width: 95%;
border-style: solid;
border-bottom: 1px solid #d1d1d1;
height: 28px;
}
























.head{
    text-align: center;
    font-size: 30px;
    color:#3a3939;
    font-weight: 600;
    padding: 15px;
    border:3px solid rgb(163, 162, 162);
    border-top: none;
    border-left: none;
    border-right: none;
}
.footbox{
    border:1px solid gray;
    border-right: none;
    border-left: none;
    display:grid;
    grid-template-columns: repeat(3,33%);
    height:55px;
    margin-top:600px;
    width:1500px;
    margin-left:-1000px;
}
.footbox2{
    display:grid;
    grid-template-columns: 20% 70%;
    text-align: center;
    margin-left: 10%;
}
.footbox2>div{
    padding-top: 10px;
    color:rgb(94, 92, 92);
}
#logo{
    width:80%;
    height:50%;    
}
#scnd{
    vertical-align: top;
    font-size: 11px;           
}
#scndd{
    vertical-align: top;
    font-size: 11px;
    text-align: start;
    margin-left: 15px;
}
#sm{
    font-size: 10px;
}
#ulast-line{
  height:40px;
  width:300px;
  margin-left:-400px;
  font-size: 12px;
  color:#3d3d3d;
  margin-top:700px;
  margin-left:-1000px;
}
.btn{
  align-content: center;
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5,19%);
  margin-left: 2%;
}
button{
  font-size: 16px;
  font-weight: bold;
  border:transparent;
  background-color: transparent;
}
.lin>p{
  border:1px solid ;
  text-align: center;
  width:100%;
  margin-top: 10px;
}
#orderbtn{
 padding: 0px;
}
#bagbtn{
  float:right;
  margin-right: 10%;
}
#paybtn{
  float:left;
  margin-left: 10%;
}
.two{
  display: grid;
  grid-template-columns: 70% 30%;
  width:80%;
  gap:5%;
  margin: auto;
}
.part2>h5{
  margin-top: 0px;
}
#pro button{
  width: 27%;
  height: 31px;
  background-color: black;
  font-weight: normal;
}
#promo{
  width:70%;
  height:25px;
  font-size: 14px;
}
#promobtn{
  margin-left: -5px;
  font-size: 12px;
  color: whitesmoke;
  vertical-align: top;
}
#offer{
  margin-top: 30px;
}
#code{
  display: grid;
  grid-template-columns: 80% 20%;
  margin-top: -10px;
}
#code button{
border: transparent;
font-size: 12px;
height: 100%;
}
#code h5{
  margin-top: 0px;
  font-size: 13px;
}
#code div{
  border:1px solid gray;
  padding:10px;
  padding-bottom: 0px;
}
#line1{
  margin-top: -20px;
  font-size: 12px;
  color:rgb(46, 45, 45);
}
#line2{
  margin-top: -12px;
  font-size:12px ;
  color:grey;
}
.price{
  display:grid;
  grid-template-columns: 55% 5% 35%;
  font-size: 11px;
  margin-top: -10px;
}
.price div{
  padding-top: 5px;
  height: 28px;
}
#lin1{
  font-weight: bold;
  font-size: 12px;
}
#lin2{
  font-size: 13px;
  margin-bottom: 5px;
}
#spn{
  color:blue;
  margin-left: 20%;
  font-size: 12px;
}
#spn2{
color: blue;
margin-left: 10px;
}
#amount{
  text-align: end;
  float:right;
  padding-right: 5px;
  font-weight: bold;
  font-size: 12px;
}
#total{
text-align: end;
  float:right;
  padding-right: 5px;
  font-weight: bold;
  font-size: 12px;
}
#green{
text-align: end;
  float:right;
  padding-right: 5px;
  color:green;
  font-size: 12px;
}
#tax{
  text-align: end;
  padding-right: 5px ;
  font-size: 12px;
}
#li{
  color:gray;
  font-size: 9px;
  margin-top: 2px;
}
#lastbtn{
  width: 100%;
  height: 45px;
  background-color: black;
  color:whitesmoke;
  font-size: 14px;
  margin-top: 8px;
}
#lastgap{
  height: 100px;
}
#num{
  font-size: 13px;
  font-weight: bold;
  color:rgb(49, 49, 49);
  margin-bottom: 20px;
}
#productContainer{
 border:1px solid rgb(175, 170, 170);
 display:grid;
 grid-template-columns: 12% 56% 10% 2% 3%;
 gap:25px;
 padding:5px;
 margin-bottom: 10px;
 width:600px;
 margin-left:50px;
}

#im{
  width:97px;
  height:110px;
}
#cross{
  margin-left: 10px;
  margin-right: 5px;
}
#productName{
    font-weight: bold;
    font-size: 14px;
    margin-left: -15px;
    margin-top: 3px;
}
#subname{
    color:grey;
    font-size: 13px;
    margin-left: 10px;
}
select{
    border: 1px solid;
    width:95px;
    height: 90%;
}
select>option{
    font-size: 11px;
}
#sizeqty{
    display:grid;
    grid-template-columns: repeat(4,auto);
    margin-left: -15px;
    margin-top: 10px;
}
#sz{
    font-size: 12px;
    font-weight: bold;
    margin-top:8px;
}
#qty{
    font-size: 14px;
    font-weight: bold;
    margin-top: 3px;
}
#counter{
    width:100px;
    display: grid;
    grid-template-columns: 20% 60% 20%;
}
#counter>div{
    text-align: center;   
}
#count{
  border:1px solid ;
  border-left: none;
}
#inc{
    border: 1px solid;
    border-left: none;
}
#dec{
    border:1px solid;
}
#rate{
    display:grid;
    grid-template-columns: 15% 15% 20% 40%;
    margin-left: -15px;
    margin-top: 12px;
    margin-bottom: 10px;
}
#currentPrice{
    font-weight: bold;
    font-size: 13.5px;
}
#previousPrice{
    font-size: 13.5px;
    text-decoration:line-through;
}
#discount{
    color:red;
    font-weight: bold;
    font-size: 13.5px;
    text-align: center;
}
#imgDiv{
    width:105px;
}
#singleContainer{
    margin-left:30px;
}


:root{
    --main-headerfont-size:19px;
    --main-headerfontcolor:black;
    --main-headerfontweight:bolder;
    --line-linecolor:black;
    --line-lineborder:20px;
    --text-color-danger:red;
}
*{
    margin: 0px;
    padding: 0px;
    font-family: sans-serif;
}
*,::after ::before{
    box-sizing: border-box;
}
.payment-header1{
    width: 200px;
    margin: auto;
}
.payment-header1>img{
    width: 200px;
    padding-top: 10%;
}
.line{
    border: 1px solid #d1d1d1; 
    background-color: #d1d1d1; 
    margin-top: 1%;
}
.payment-header2{
    display: grid; 
    grid-template-columns: repeat(5,1fr);
    margin-top: 20px;
    width: 80%;
    margin: auto;
    margin-top: 10px;
}
.bagMode{
    font-size: var(--main-headerfont-size);
    font-weight: var(--main-headerfontweight);
    margin: auto;
}
.bagline{
    margin-top: 10px;
    border: 1px solid black;
}
.paymentBox{
    /* border: 1px solid red; */
    width: 67%;
    height: 550px;
    float: left;
    margin-right: 3%;
    margin-left: 3%;
    margin-top:3%;
}
.payment-checkout{
    /* border: 1px solid green; */
    width: 33%;
    height: 500px;
    margin-top: 2%;
    position: absolute;
    right: 0;
}
.payment-middle{
    display: flex;
}
.payTitle{
    width: 100%;
    color: #000;
}
.paymentOption{
    border: 1px solid #ccc;
    width:800px;
    float: left;
    height: 475px;
    min-height: 400px;
}
.paymentList{
    width: 232px;
    display: block;
    float: left;
    background: #efefef;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgb(239, 239, 239);
    min-height: 475px;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
ul{
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.paymentList li {
padding: 17px 4px 17px 15px;
background: #efefef;
cursor: pointer;
font-size: 12px;
color: #000;
display: grid;
grid-template-columns: 25% 1fr;
border-radius: 4px;
}
.card-title{
display: flex;
align-items: center;
font-weight: var(--main-headerfontweight);
font-size: 13px;
}
.card-swapper{
display: inline-block;
}
#fafa{
/* border: 1px solid red; */
padding: 5px;
font-size: 30px;
}

.paymentCard {
    width: 500px;
    display: block;
    padding-top: 28px;
    padding-left: 250px;
}
.paymentCard .accordion {
    margin: 0 auto;
    width: 85%;
}
.payTitle {
    width: 100%;
    color: #000;
}
.paymentCard .formField {
    width: 86%;
    margin-bottom: 11px;
    position: relative;
    /* clear: both; */
}
.formField .inputField {
    border-bottom: 1px solid #95989a;
    padding-bottom: 5px;
    height: 34px;
    width: 90%;
    font-size: 12px;
}
.cardContent .errorCard {
    font-size: 9px;
    color: var(--text-color-danger);
    height: 11px;
    padding-top: 2px;
}
.expDate {
    width: 100%;
    float: left;
    margin-bottom: 11px;
}
.expiryinputField{
    border: 0;
    border-bottom: 1px solid #95989a;
    width: 80%;
    padding-top: 15px;
    padding-bottom: 10px;
    background: 0 0;
    -webkit-appearance: none;
}
.inputFieldhalf {
    width: 30%;
}
.cvvImage {
    width: 32px;
    margin: 0 10px;
}
.cvvMsg {
    display: inline-block;
    position: relative;
    top: -6px;
}
.paymentCard .confirmBtn {
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 15px;
    width: 304px;
    padding-bottom: 12px;
    margin: 10px 0;
    margin-top: 50px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 700;
    cursor: pointer;
}
.paymentList{
    margin-top: -2px;
}
#formFlex{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 100%;
}
/* .priceSectionQuick {
    position: absolute;
    right: 0px;
}
.priceSection {
    border: 1px solid red;
    width: 80%;
    height: 440px;
    float: left;
}
.priceSection.priceView {
    padding-bottom: 15px;
    border-bottom: 1px solid rgb(204, 204, 204);
}
.pay-header .bold {
    font-weight: 700;
}
.pay-header .price-row {
    clear: both;
    height: 24px;
    position: relative;
} */

/* Upasna payment summary*/

.pricesummary{
    color: gray;
    font-weight: lighter;
    padding-left: 65px;
    margin-bottom:30px;
}
.price{
    display:grid;
    grid-template-columns: 55% 5% 35%;
    font-size: 13.5px;
    margin-top: 0px;
    margin-left: 65px;
}
.price div{
    padding-top: 5px;
    height: 28px;
}
#lin1{
    font-weight: bold;
    font-size: 13px;
    line-height: 10px;
    font-weight: bolder;
}
.lin2{
    font-size: 13px;
    margin-bottom: 5px;
    margin-top: -15px;
}
#lin2{
    padding-top: 10px;
}
.green{
    /* border: 1px solid orangered; */
    margin-top: -10px;
    color: black;
    font-weight: bolder;
}
#spn{
    color:blue;
    margin-left: 5%;
    font-size: 12px;
}
#spn2{
  color: blue;
  margin-left: 10px;
}
#amount{
    text-align: end;
    float:right;
    padding-right: 5px;
    font-weight: bold;
}
#total{
  text-align: end;
    float:right;
    padding-right: 5px;
    font-weight: bold;
}
#green{
  text-align: end;
    float:right;
    padding-right: 5px;
    color:green;
    font-size: 13px;
    margin-top: -5px;


}
#tax{
    text-align: end;
    padding-right: 5px ;
    margin-top: -5px;
}
#li{
          color:gray;
          font-size: 9px;
          margin-top: 2px;
          line-height: 40px;
}
.paymentL{
    width: 87%; 
    float: right; 
    margin-top: 20px;
}
.payment-address{
    /* border: 1px solid black; */
    height: 200px;
    margin-top: 50px;
    float: right;
    width: 90%;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.bold{
padding-left: 40px;
font-weight: 700;
    margin-bottom: 10px;
}
.normal{
    padding-left: 40px;
    margin-bottom: 8px;
}
.address{
    padding-left: 40px;
}







