.koovsHeader{
    margin-bottom:8px;

}
.header-top-section{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.header-logo{
    width: 70%;
}
.hright-section{
    margin-left: auto;
    position: relative;
    display: flex;
}