#productContainer{
    width:84%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
    box-sizing: border-box;
    margin:10px 0 0 16.4%;
}
#productContainerZoom{
    width:84%;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box;
    margin:10px 0 0 16.4%;
}
#sortBox{
    height:auto;
    width:340px;
    display: flex;
    margin-top:130px;
    margin-left:auto;
}
#zoomInOut{
    width:100px;
    display: flex;
    justify-content: space-between;
    padding:5px;
}
#zoomInOut img{
    width:25px;
    height:20px;
}
#sort{
    display: flex;
    width:200px;
    border:1px solid black;
    margin-left:auto;
    text-align: center;
    padding:5px;
}
#sort > select{
   border:none;
}
#zoomInOut label{
    font-weight: 600;
    font-size:18px;
}
#sort label{
    font-weight: 600;
}
#imgBox{
    height:397px;
    width:239px;
    box-sizing: border-box;
    color:rgba(0, 0, 0, 0.805);
    font-family: 'open-sans', sans-serif;
    margin-bottom:20px;
    box-sizing: border-box;   
}
#imgBoxZoom{
    height:464px;
    width:348px;
    box-sizing: border-box;
    color:rgba(0, 0, 0, 0.805);
    font-family: 'open-sans', sans-serif;
    margin-bottom:20px;
    box-sizing: border-box;   
}
#productImg{
    height:319px;
    width:239px;
}
#productImgZoom{
    height:390px;
    width:348px;
}
#priceBox,#priceBox1{
    display: flex;
    margin-top:-30px;
    justify-content:flex-start
}
#priceBox1{
    background-color:white;
}
.name1{
    padding-top:4px;
    margin-top:-20px;
    background-color:white;
    line-height: 14px;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.805);
}
.currentPrice{
    margin-right:6px;
    font-size:18px;
    font-weight:700;
    padding:0 3px;
    color:rgba(0, 0, 0, 0.805);
    font-family: 'Open Sans', sans-serif;
}
.previousPrice{
    font-size:15px;
    margin-right:6px;
    text-decoration: line-through;
    margin-top:22px;
}
.discount{
    font-size:18px;
    color:rgb(255, 6, 6);
    padding:0 3px;
    font-family: 'Open Sans', sans-serif;
}
.brand{
    line-height: 0;
    font-size: 18px;
    font-weight: 1000;
}
.name{
    line-height: 14px;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.805);
}
#load {
    background-color: transparent;
    color: rgba(179, 179, 179, 0.815);
    margin: 10px 0 10px 48%;
    border: 0;
    font-weight: bold;
    font-family: "Josefin Sans", sans-serif;
  }
  #hoverBox{
      margin-top:250px;
      margin-left:-239px;
    width:239px;
    height:160px;
    background-color:white;
    position:absolute;
    display: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  #hoverBoxZoom{
    margin-top:321px;
    margin-left:-348px;
  width:348px;
  height:160px;
  background-color:white;
  position:absolute;
  display: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
  #addToCartBox{
   height:36px;
   width:239px;
   display: flex;
  }
  #addToCart{
    height:100%;
    width:100%;
    background-color:black;
    color:white;
    text-align:center;
  }
  #quickView{
    height:100%;
    width:100%;
    background-color:grey;
    color:white;
    text-align:center;
  }
  #addToCartBox h4{
      margin-top: 7px;
  }
  #colorDiv{
      height:20px;
      width:20px;
      border-radius: 50%;
      margin:12px 0 0 5px;
  }
  #sizeBox{
    margin:12px 0 0 8px;
    height:40px;
    width:100px;
    display:flex;
  }
  #sizeBox > a{
      margin-right:7px;
  }
  #filterOption{
      height:auto;
      width:12%;
      position:absolute;
      margin-top:-16px;
      padding-left:20px;
  }
  #filterOption input{
      height:20px;
      width:20px;
      margin-top:4px;
  }
  #filterOption label{
   font-size:20px;
   margin-top:4px;
}
.title{
    width:80%;
    display:flex;
    justify-content: space-between;
}
.symbol{
    font-size:26px;
    font-weight:bold;
    margin-top:18px;
    background-color: black;
    color:white;
    height:28px;
    width:28px;
    border-radius:50%;
    text-align: center;
}