#wishlistLength{
    font-size: 16px;
    color:white;
    position:absolute;
    margin-top:-40px;
    margin-left:22px;
    padding:2px 2px 4px 2px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    height:22px;
    width:22px;
  }
  #cartLength{
    font-size: 16px;
    color:white;
    position:absolute;
    margin-top:-40px;
    margin-left:18px;
    padding:2px 2px 4px 2px;
    background-color: black;
    border-radius: 50%;
    text-align: center;
    height:22px;
    width:22px;
  }  